In [47]:
import numpy as np
import pandas as pd
import io
import requests
import seaborn as sns
from matplotlib import pyplot as plt
import pickle
import os
from pandas.api.types import CategoricalDtype


from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import FeatureUnion

In [1]:
def load_dataset(path, urls):
    if not os.path.exists(path):
        os.mkdir(path)

    for url in urls:
        data = requests.get(url).content
        filename = os.path.join(path, os.path.basename(url))
        with open(filename, "wb") as file:
            file.write(data)

In [11]:
urls = ["http://archive.ics.uci.edu/ml/machine-learning-  databases/adult/adult.data",
        "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names",
        "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test"]

load_dataset('Data', urls)

In [17]:
columns = ["age", "workClass", "fnlwgt", "education", "education-num","marital-status", "occupation", "relationship",
          "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]

train_data = pd.read_csv('Data/adult.data', names=columns, 
             sep=' *, *', na_values='?', engine='python')
test_data  = pd.read_csv('Data/adult.test', names=columns, 
             sep=' *, *', skiprows=1, na_values='?',engine='python')

In [21]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workClass         30725 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        30718 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    31978 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [22]:
num_attributes = train_data.select_dtypes(include=['int'])
print(num_attributes.columns)

Index([u'age', u'fnlwgt', u'education-num', u'capital-gain', u'capital-loss',
       u'hours-per-week'],
      dtype='object')

In [26]:
num_attributes.hist(figsize=(10,10))

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x7f0a37738810>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7f0a376a7fd0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x7f0a38a81050>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7f0a376536d0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x7f0a3753e210>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7f0a3756cfd0>]],
      dtype=object)

In [27]:
train_data.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [29]:
class ColumnsSelector(BaseEstimator, TransformerMixin):
    def __init__(self, type):
        self.type = type
    def fit(self, X, y=None):
        return self
    def transform(self,X):
        return X.select_dtypes(include=[self.type])

In [36]:
num_pipeline = Pipeline(steps=[
    ("num_attr_selector", ColumnsSelector(type='int')),
    ("scaler", StandardScaler())
])

In [39]:
class CategoricalImputer(BaseEstimator, TransformerMixin):
    def __init__(self, columns = None, strategy='most_frequent'):
        self.columns = columns
        self.strategy = strategy
    def fit(self,X, y=None):
        if self.columns is None:
            self.columns = X.columns
        if self.strategy is 'most_frequent':
            self.fill = {column: X[column].value_counts().index[0] for column in self.columns}
        else:
            self.fill ={column: '0' for column in self.columns}
        return self
    def transform(self,X):
        X_copy = X.copy()
        for column in self.columns:
             X_copy[column] = X_copy[column].fillna(self.fill[column])
        return X_copy

In [43]:
class CategoricalEncoder(BaseEstimator, TransformerMixin):
      def __init__(self, dropFirst=True):
        self.categories=dict()
        self.dropFirst=dropFirst
    
      def fit(self, X, y=None):
        join_df = pd.concat([train_data, test_data])
        join_df = join_df.select_dtypes(include=['object'])
        for column in join_df.columns:
          self.categories[column] = join_df[column].value_counts().index.tolist()
        return self
    
      def transform(self, X):
        X_copy = X.copy()
        X_copy = X_copy.select_dtypes(include=['object'])
        for column in X_copy.columns:
          X_copy[column] = X_copy[column].astype({column:CategoricalDtype(self.categories[column])})
        return pd.get_dummies(X_copy, drop_first=self.dropFirst)

In [50]:
cat_pipeline = Pipeline(steps=[
    ("cat_attr_selector", ColumnsSelector(type='object')),
    ("cat_imputer", CategoricalImputer(columns=
          ['workClass','occupation', 'native-country'])),
    ("encoder", CategoricalEncoder(dropFirst=True))
])

In [51]:
full_pipeline = FeatureUnion([("num_pipe", num_pipeline), 
                ("cat_pipeline", cat_pipeline)])

In [55]:
train_data.drop(['fnlwgt', 'education'], axis=1, inplace=True)
test_data.drop(['fnlwgt', 'education'], axis=1, inplace=True)

ValueError: labels ['fnlwgt' 'education'] not contained in axis

In [58]:
train_copy = train_data.copy()
train_copy["income"] = train_copy["income"].apply(lambda x:0 if 
                        x=='<=50K' else 1)

X_train = train_copy.drop('income', axis =1)
Y_train = train_copy['income']
print X_train

       age         workClass  education-num         marital-status  \
0       39         State-gov             13          Never-married
1       50  Self-emp-not-inc             13     Married-civ-spouse
2       38           Private              9               Divorced
3       53           Private              7     Married-civ-spouse
4       28           Private             13     Married-civ-spouse
5       37           Private             14     Married-civ-spouse
6       49           Private              5  Married-spouse-absent
7       52  Self-emp-not-inc              9     Married-civ-spouse
8       31           Private             14          Never-married
9       42           Private             13     Married-civ-spouse
10      37           Private             10     Married-civ-spouse
11      30         State-gov             13     Married-civ-spouse
12      23           Private             13          Never-married
13      32           Private             12          Never-married
14      40           Private             11     Married-civ-spouse
15      34           Private              4     Married-civ-spouse
16      25  Self-emp-not-inc              9          Never-married
17      32           Private              9          Never-married
18      38           Private              7     Married-civ-spouse
19      43  Self-emp-not-inc             14               Divorced
20      40           Private             16     Married-civ-spouse
21      54           Private              9              Separated
22      35       Federal-gov              5     Married-civ-spouse
23      43           Private              7     Married-civ-spouse
24      59           Private              9               Divorced
25      56         Local-gov             13     Married-civ-spouse
26      19           Private              9          Never-married
27      54               NaN             10     Married-civ-spouse
28      39           Private              9               Divorced
29      49           Private              9     Married-civ-spouse
...    ...               ...            ...                    ...
32531   30               NaN             13          Never-married
32532   34           Private             16     Married-civ-spouse
32533   54           Private             13     Married-civ-spouse
32534   37           Private             10               Divorced
32535   22           Private              8          Never-married
32536   34           Private             13          Never-married
32537   30           Private              9          Never-married
32538   38           Private             13               Divorced
32539   71               NaN             16     Married-civ-spouse
32540   45         State-gov              9              Separated
32541   41               NaN              9              Separated
32542   72               NaN              9     Married-civ-spouse
32543   45         Local-gov             12               Divorced
32544   31           Private             14               Divorced
32545   39         Local-gov             12     Married-civ-spouse
32546   37           Private             12               Divorced
32547   43           Private              9     Married-civ-spouse
32548   65  Self-emp-not-inc             15          Never-married
32549   43         State-gov             10               Divorced
32550   43  Self-emp-not-inc             10     Married-civ-spouse
32551   32           Private              6     Married-civ-spouse
32552   43           Private             11     Married-civ-spouse
32553   32           Private             14          Never-married
32554   53           Private             14     Married-civ-spouse
32555   22           Private             10          Never-married
32556   27           Private             12     Married-civ-spouse
32557   40           Private              9     Married-civ-spouse
32558   58           Private              9                Widowed
32559   22           Private              9          Never-married
32560   52      Self-emp-inc              9     Married-civ-spouse

              occupation    relationship                race     sex  \
0           Adm-clerical   Not-in-family               White    Male
1        Exec-managerial         Husband               White    Male
2      Handlers-cleaners   Not-in-family               White    Male
3      Handlers-cleaners         Husband               Black    Male
4         Prof-specialty            Wife               Black  Female
5        Exec-managerial            Wife               White  Female
6          Other-service   Not-in-family               Black  Female
7        Exec-managerial         Husband               White    Male
8         Prof-specialty   Not-in-family               White  Female
9        Exec-managerial         Husband               White    Male
10       Exec-managerial         Husband               Black    Male
11        Prof-specialty         Husband  Asian-Pac-Islander    Male
12          Adm-clerical       Own-child               White  Female
13                 Sales   Not-in-family               Black    Male
14          Craft-repair         Husband  Asian-Pac-Islander    Male
15      Transport-moving         Husband  Amer-Indian-Eskimo    Male
16       Farming-fishing       Own-child               White    Male
17     Machine-op-inspct       Unmarried               White    Male
18                 Sales         Husband               White    Male
19       Exec-managerial       Unmarried               White  Female
20        Prof-specialty         Husband               White    Male
21         Other-service       Unmarried               Black  Female
22       Farming-fishing         Husband               Black    Male
23      Transport-moving         Husband               White    Male
24          Tech-support       Unmarried               White  Female
25          Tech-support         Husband               White    Male
26          Craft-repair       Own-child               White    Male
27                   NaN         Husband  Asian-Pac-Islander    Male
28       Exec-managerial   Not-in-family               White    Male
29          Craft-repair         Husband               White    Male
...                  ...             ...                 ...     ...
32531                NaN   Not-in-family  Asian-Pac-Islander  Female
32532     Prof-specialty         Husband               White    Male
32533    Exec-managerial         Husband  Asian-Pac-Islander    Male
32534       Adm-clerical       Unmarried               White  Female
32535    Protective-serv       Own-child               Black    Male
32536    Exec-managerial   Not-in-family               White  Female
32537       Craft-repair   Not-in-family               Black    Male
32538     Prof-specialty       Unmarried               Black  Female
32539                NaN         Husband               White    Male
32540       Adm-clerical       Own-child               White  Female
32541                NaN   Not-in-family               Black  Female
32542                NaN         Husband               White    Male
32543     Prof-specialty       Unmarried               White  Female
32544      Other-service   Not-in-family               Other  Female
32545       Adm-clerical            Wife               White  Female
32546       Tech-support   Not-in-family               White  Female
32547  Machine-op-inspct         Husband               White    Male
32548     Prof-specialty   Not-in-family               White    Male
32549       Adm-clerical  Other-relative               White  Female
32550       Craft-repair         Husband               White    Male
32551  Handlers-cleaners         Husband  Amer-Indian-Eskimo    Male
32552              Sales         Husband               White    Male
32553       Tech-support   Not-in-family  Asian-Pac-Islander    Male
32554    Exec-managerial         Husband               White    Male
32555    Protective-serv   Not-in-family               White    Male
32556       Tech-support            Wife               White  Female
32557  Machine-op-inspct         Husband               White    Male
32558       Adm-clerical       Unmarried               White  Female
32559       Adm-clerical       Own-child               White    Male
32560    Exec-managerial            Wife               White  Female

       capital-gain  capital-loss  hours-per-week native-country
0              2174             0              40  United-States
1                 0             0              13  United-States
2                 0             0              40  United-States
3                 0             0              40  United-States
4                 0             0              40           Cuba
5                 0             0              40  United-States
6                 0             0              16        Jamaica
7                 0             0              45  United-States
8             14084             0              50  United-States
9              5178             0              40  United-States
10                0             0              80  United-States
11                0             0              40          India
12                0             0              30  United-States
13                0             0              50  United-States
14                0             0              40            NaN
15                0             0              45         Mexico
16                0             0              35  United-States
17                0             0              40  United-States
18                0             0              50  United-States
19                0             0              45  United-States
20                0             0              60  United-States
21                0             0              20  United-States
22                0             0              40  United-States
23                0          2042              40  United-States
24                0             0              40  United-States
25                0             0              40  United-States
26                0             0              40  United-States
27                0             0              60          South
28                0             0              80  United-States
29                0             0              40  United-States
...             ...           ...             ...            ...
32531             0             0              99  United-States
32532             0             0              60  United-States
32533             0             0              50          Japan
32534             0             0              39  United-States
32535             0             0              35  United-States
32536             0             0              55  United-States
32537             0             0              46  United-States
32538         15020             0              45  United-States
32539             0             0              10  United-States
32540             0             0              40  United-States
32541             0             0              32  United-States
32542             0             0              25  United-States
32543             0             0              48  United-States
32544             0             0              30  United-States
32545             0             0              20  United-States
32546             0             0              40  United-States
32547             0             0              40         Mexico
32548          1086             0              60  United-States
32549             0             0              40  United-States
32550             0             0              50  United-States
32551             0             0              40  United-States
32552             0             0              45  United-States
32553             0             0              11         Taiwan
32554             0             0              40  United-States
32555             0             0              40  United-States
32556             0             0              38  United-States
32557             0             0              40  United-States
32558             0             0              40  United-States
32559             0             0              20  United-States
32560         15024             0              40  United-States

[32561 rows x 12 columns]